:root {
  --background: rgb(200, 200, 200);
  --gap: 50px;
}

div#gui {
  background-color: rgba(50, 50, 50, 0.8);
  color: rgba(200, 200, 200);
}
#spinner {
  border-color: #cc9933 #cc9933 transparent transparent;
}
#logdiv {
  position: fixed;
  top: 1em;
  left: 1em;
  width: 5em;
  background: darkgrey;
}

#gameStatus {
  width: 12em;
  font-size: 70%;
  font-family: "Caviar Dreams";
  text-align: center;
}

#splash {
  transform: translate(0, -1 * var(--gap));
  background-color: var(--background);
  font-family: "Caviar Dreams";
  font-size: calc(3rem + (100vw - 400px) / 20);
  z-index: 10;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
}

.hide {
  display: none;
}

#help-wrapper,#setup-controls-wrapper {
  background-color: var(--background);
  font-family: "Caviar Dreams";
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

#help,.control-list-wrapper {
  background-color: var(--background);
  padding: 1em;
  position: relative;
  left: calc(10% - 1em);
  width: 80%;
  font-size: 1.5rem;
  border-radius: 1em;
  border: 2px solid black;
  top: 10%;
  height: 80%;
  overflow: scroll;
}

.control-list-wrapper > table {
  margin: auto;
  border-spacing: 1em;
  font-size: 3vw;
}

.control-list-wrapper td,th {
  padding: 0 1em;
  text-align: center;
}

.gamepad-button::first-letter {
  color: rgb(100, 100, 100);
  padding-right: 0.5em;
  font-size: 75%;
}

.control-list-go-back {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 3em;
}

#music.no-music::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1em;
  height: 0.1em;
  background-color: red;
  transform: translateY(-50%) rotate(-45deg);
}

#splash h1 {
  font-size: 5rem;
}

.floaty-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Caviar dreams";
  font-size: calc(2rem + 2vw);
}

.transp {
  opacity: 0;
}

#splash-controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 25%;
}

#topmost-area {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: var(--gap); /* I don't want to fiddle with rems in code */
  left: 0;
  width: 100%;
}
#left-button {
  background-color: rgba(0, 0, 255, 0.5);
  top: var(--gap);
  height: calc(100% - var(--gap));
  left: 0;
  width: 15%;
}
#score {
  float: right;
  padding-right: 1em;
  margin-top: -15px; /* Very weird baseline, we have here */
  font-size: 40px;
  font-family: "bpdots";
  color: chocolate;
  width: 5em;
  text-align: right;
}
#settings, #saveCanvas {
  width: 3em;
  float: left;
  text-align: center;
  font-size: 30px;
}
#right-button {
  background-color:rgba(0, 255, 0, 0.5);
  top: var(--gap);
  height: calc(100% - var(--gap));
  right: 0;
  width: 15%;
}
#up-button {
  background-color: rgba(255, 255, 0, 0.5);
  left: 15%;
  top: var(--gap);
  width: 70%;
  height: 25%;
}
#button-4 {
  background-color: rgba(255, 150, 0, 0.5);
  left: 15%;
  top: calc(25% + var(--gap));
  width: 35%;
  height: calc(50% - var(--gap));
}
#button-1 {
  background-color: rgba(255, 0, 150, 0.5);
  top: calc(25% + var(--gap));
  left: 50%;
  width: 35%;
  height: calc(50% - var(--gap));
}
#down-button {
  background-color: rgba(255, 150, 150, 0.5);
  top: 75%;
  left: 15%;
  width: 70%;
  height: calc(25%);
}
#gamewrapper {
  position: relative;
}


